@{
    ViewData["Title"] = "Contact";
}
@model Portfolio.Models.EmailModel
<section>
    <p style="font-weight: bold;">
        Can I get to Know you too?
    </p>
    <form asp-action="Index" method="post">
        <div class="email-title-container">
            <label asp-for="Title" class="form-title-label"></label>
            <input asp-for="Title" type="text" class="form-title" placeholder="Email Title">
        </div>
        <div class="email-body-container">
            <label asp-for="Body" class="form-body-label"></label>
            <textarea asp-for="Body" name="Body" id="" cols="50" rows="10" placeholder="what do you need"></textarea>
        </div>
        <div class="email-submit-container">
            <button type="submit" class="email-button">Shoot</button>
        </div>
    </form>

</section>