/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* navbar stuffs */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar-container{
  display: flex;
  justify-content:space-between;
}
.name{
  font-weight: bold;
}
.home:hover, .contact:hover{
  text-decoration: underline;
}
.home:active{
  font-weight: bold;
}
.contact:active{
  font-weight: bold;
}
/* navbar ends */

/* body */

/* first section */

.emeka{
  border-radius: 60%;
  width: 30%;
  height: 25vh;
}

.child1{
  font-weight: 500;
}
.child2{
  font-weight: 900;
  font-size: larger;
}
.child4{
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:20px;
  padding-left: 20px;
}
.connect{
  text-decoration: none;
  color: white;
}

/* first section ends */

/* second section starts */
.section2{
  margin-top: 10vh;
}

.project{
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.writeup{
  text-align: left;
}

/* second section ends */

/* third section starts */
.projects{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.project-container{
  margin: 10px;
}
.project-image{
  width: 100%;
}
.title{
  font-weight: bold;
}
.project-writeup{
  height: 20vh;
}
.blue{
  background-color: #a0f7f7;
}
.orange{
  background-color: #f7d288;
}
.red{
  background-color: #f28ea9;
}
.teal{
  background-color: #8af2d9;
}
/* third section ends */

/* final section */
.socials{
  margin-top: 10vh;
}
.socials > img{
  margin-left: 20px;
  margin-right: 20px;
}
/* final section ends */


/* contact page */
.email-title-container, .email-body-container{
  display: flex;
  flex-direction: column;
}
.form-title-label, .form-body-label{
  font-weight: bold;
}
.email-submit-container{
  margin-top: 10px;
}
.email-button{
  width: 20%;
  background-color: black;
  color: white;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .home {
    display: none;
  }
  .project-writeup{
    height: 25vh;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
